# General
*.a
*.dSYM/
*.la
*.lo
*.o
*.opensdf
*.orig
*.sdf
*.suo
*.swp
*.tests
*.vcxproj.filters
*.vcxproj.user
*~
.git
TAGS
*.pyc

# Mac/Xcode-specfic
xcuserdata
contents.xcworkspacedata
.DS_Store
._*

# Test byproducts
test/build
